<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a>
 </br>
 Hello, World! I am a web server configured using Ansible. Here is my config info:
 </br>
 my IP: {{ hostvars[host].ansible_default_ipv4.address }}
 </br>
 my DB: 
 {% for host in groups['dbservers'] %}
Host: {{ hostvars[host].ansible_default_ipv4.address }}
User: {{ hostvars[host].dbuser }}
Password: {{ hostvars[host].upassword }}
 {% endfor %}
</body>
</html>